{
  "trailingComma": "es5",
  "singleQuote": true,
  "endOfLine": "auto",

  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow",
      "endOfLine": "auto"
    }
  ]
}
